
html, body{
  overflow: hidden; /*スクロール防止*/
  background-size: cover; /*背景画像をフィットさせる*/
	margin: 0;	/* 余白の削除 */
	padding: 0;	/* 余白の削除 */
	height: 100%;	/* 縦の高さを100% */
	width: 100%;	/* 横の幅を100% */
}

div#contents {
	/*background-color: #999;*/
	position: relative;		/* フッター部の配置用に定義 */
	min-height: 100%;		/* 縦の表示領域を100% */
}

/*メッセージ入力ボックス+ボタン+ファイル入力を区切るdiv*/
#div_inputArea_id{
	position: absolute;       /* 絶対位置指定することを定義 */
	width:100%;
	bottom: 0px;              /* 絶対位置指定(左0px,下0px) */
	padding: 0;
	margin: 0;
  /*border: 1px solid #F00;*/
  background-color:FFF
}


#textAreaId, #sendButtonId, #fileId{
  font-size:1em;
}

#previewImageId{
  display: none;
  position: absolute;
}